.dropdown {
  @apply absolute;
  @apply bg-accent;
  @apply focus:outline-none;
  @apply overflow-hidden;
  @apply py-1.5;
  @apply ring-1 ring-black ring-opacity-5;
  @apply rounded-xl;
  @apply shadow-lg;
  @apply z-10;
  inset: calc(100% + 20px) auto auto 0;
}

.dropdown-bottom-right {
  inset: calc(100% + 20px) auto auto 0;
}

.dropdown-bottom-left {
  inset: calc(100% + 20px) 0 auto auto;
}

.dropdown-top-right {
  inset: auto auto calc(100% + 20px) 0;
}

.dropdown-top-left {
  inset: auto 0 calc(100% + 20px) auto;
}

.dropdown-item {
  @apply cursor-pointer;
  @apply flex items-center;
  @apply px-3 py-2;
  @apply text-primary;
  @apply w-full;
}
